node_modules/
client/node_modules/
.env
.env.local
.env.production
client/dist/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
coverage/
